---
import type { Character } from '../types/characters';

interface Props {
	character: Character;
}

const { character } = Astro.props;
---

<article class="dbz-card group">
	<img
		src={character.image}
		class="mx-auto h-[180px] w-auto object-contain group-hover:scale-[1.2] transition-transform duration-300"
	/>
	<h2 class="text-lg font-semibold text-black">{character.name}</h2>
	<ul class="px-1 py-2">
		<li class="text-sm text-black/90">Ki: {character.ki}</li>
		<li class="text-sm text-black/90">Ki máximo: {character.maxKi}</li>
	</ul>
	<p class="text-sm line-clamp-4 text-ellipsis"> {character.description}</p>
</article>

<style>
	.dbz-card {
		width: 320px;
		max-width: 360px;
		height: 380px;
		max-height: 380px;

		padding: 1.25rem 1rem;

		border-radius: 24px;
		background: #fafaf8;

		&:hover {
			box-shadow: 0px 2px 4px #c1c1c155;
		}
	}
</style>
